* {
    margin: 0,50em;
    word-spacing: normal;
    font-family: 'Montserrat', sans-serif;
}
main {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: auto;
    grid-gap: 3px;
    margin: 5px;
    align-content: space-around;
}
h2 {
    text-align: center;
    color: gray;
    font-style: italic;
}
p {
    font-weight: bold;
    font-size: small;
    margin-left: 4px;
    margin-right: 4px;
}