
@{
    ViewBag.Title = "Web Biblioteca";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Biblioteca Flores</title>
    <link href="~/Content/IndexHome.css" rel="stylesheet" type="text/css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,300&family=Playfair+Display&display=swap" rel="stylesheet">
</head>
<body>
    <div class="jumbotron">
        <h1>
            Biblioteca Flores
            <img src="https://i.pinimg.com/236x/6d/48/fd/6d48fdefba7f2a26989c309cd27cff36--library-logo-music-library.jpg" alt="logo biblioteca"  data-noaft="1" style="width: 150px; height: 100px; margin: 29.6px 0px;">
        </h1>
        <p class="lead">Bienvenidos a la web de la Biblioteca Flores</p>
    </div>
    <h2>Historia sobre nuestra biblioteca</h2>
    <p>
        La Biblioteca Flores, creada por Kevin Flores el 13 de septiembre de 2000, atesora y resguarda, a través de las más modernas técnicas bibliotecnológicas, los materiales con los que se han forjado las distintas ideas y épocas del país. 
        En sus colecciones, compuestas por cuantiosos documentos, manuscritos, libros, revistas, periódicos, fotografías, mapas, grabados, audiovisuales y partituras, persiste una cultura viva que espera ser redescubierta por la mirada de sus lectores e investigadores, 
        reconociendo los tonos de un país heterogéneo y los puntos de vista de un pasado que no cesa de producir preguntas y proyectar imágenes sobre el presente.
        Nacida para dar testigo privilegiado de la historia, la Biblioteca Flores ofrece, en sus salas de lectura, sus auditorios y exposiciones, una oportunidad de repensar los enigmas de nuestra cultura colectiva.
    </p>
    <h2>Algunas imagenes sobre nuestra Biblioteca</h2>
    <main>
        <div class="imagen1">
            <img src="http://www.comunidadbaratz.com/wp-content/uploads/Cada-euro-invertido-en-bibliotecas-se-multiplica-por-cuatro-en-beneficios-a-la-sociedad.jpg" alt="Usos, motivos y beneficios de las bibliotecas para la sociedad" data-noaft="1" style="width: 585px; height: 390.195px; margin: 0px;">
        </div>
        <div class="imagen2">
            <img src="https://lh3.googleusercontent.com/proxy/inmpdgASnQjnqNFsCgfUyo3pKHeea3dWpE1ai-0fCNwFhbWb0jn1XR3hKGRnEGt4IILsm1XAgM9ipVfNQkS9GCkSs-4nPqimqUf4IaoTSeja1FI" alt="El Instituto Nacional de Estadística (INE)" data-noaft="1" style="width: 560px; height: 373px; margin: 0px;">
        </div>
        <div class="imagen3">
            <img src="https://lapiedradesisifo.com/wp-content/uploads/2019/10/libreria-para-empresas.jpg" alt="Empresas con biblioteca, el siguiente reto laboral" data-noaft="1" style="width: 585px; height: 342.984px; margin: 0px;">
        </div>
        <div class="imagen4">
          <img src="https://www.casi.com.ar/sites/default/files/styles/flexslider_full/public/2020-08/DSC_0045.jpg?itok=dxUFVcCu" alt="La Biblioteca" data-noaft="1" style="width: 585px; height: 350px; margin: 0px;">
        </div>
    </main>
</body>
</html>